<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block pageTitle %}{% endblock %}</title>

    <!-- Stylesheets -->
    {% include "stylesheets.twig" %}
</head>
<body>
<div class="main-application">
    <!-- Header block -->
    {% if headerMainNa == true %}
        {% include "header-main-na.twig" %}
        {% set headerMainNa = false %}
    {% else %}
        {% include "header.twig" with {headerSmall: headerMainNaSmall} %}
    {% endif %}
    <!-- Header block end -->

    <!-- Block content -->
    {% block content %}{% endblock %}
    <!-- Block content end -->

    <!-- Footer block -->
    {% include "footer.twig" %}
    <!-- Footer block end -->
</div>

{% include '../components/popups/chat.twig' %}
{% include '../components/popups/register.twig' %}
<!-- Scripts -->
{% include "scripts.twig" %}
</body>
</html>