<footer class="footer">
    <div class="footer__top">
        <div class="container">
            <div class="footer__top-grid">
                <form action="#" class="footer-app__form">
                    <div class="footer-app__text fw-mr-25">Получить ссылку на <br>приложение</div>
                    <div class="footer-app__form-group fw-mr-10">
                        <input type="text" class="footer-app__form-input" placeholder="Например: + 7(123) 456-78-90">
                        <button type="submit" class="violet-button">Получить</button>
                    </div>
                    <div class="footer-app__buttons">
                        <a href="#" class="footer-app__button fw-inline-block fw-mr-10">
                            <i class="icon-footer-app-google"></i>
                        </a>
                        <a href="#" class="footer-app__button fw-inline-block">
                            <i class="icon-footer-app-apple"></i>
                        </a>
                    </div>
                </form>
                <div class="footer-mobile__wrapper">
                    <a href="#" class="footer-mobile__link">Мобильный сайт</a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="container">
            <div class="footer__bottom-grid">
                <nav class="footer__navigation">
                    <ul class="footer__navigation-list">
                        <li class="footer__navigation-item"><a href="#" class="footer__navigation-link">О проекте</a>
                        </li>
                        <li class="footer__navigation-item"><a href="#" class="footer__navigation-link">Блог</a></li>
                        <li class="footer__navigation-item"><a href="#" class="footer__navigation-link">Города</a></li>
                        <li class="footer__navigation-item"><a href="#" class="footer__navigation-link">Часто задаваемые
                                вопросы</a></li>
                        <li class="footer__navigation-item"><a href="#" class="footer__navigation-link">Условия
                                использования</a></li>
                    </ul>
                </nav>
                <div class="footer__confidentiality">
                    <a href="#" class="footer__confidentiality-link">
                        <div class="footer__confidencieality-icon fw-mr-10">
                            <i class="icon-confidentiality"></i>
                        </div>
                        <div class="footer__confidentiality-text">
                            <div class="footer__confidentiality-small">Конфиденциальность</div>
                            <div class="footer__confidentiality-big">и безопасность</div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="footer__bottom-plate">
                <div class="footer__bottom-plate-text">
                    <p>© «Золушка project». Лучший on-line сервис по поиску спонсоров и содержанок, 2015-2017</p>
                    <p>Администрация не несёт ответственности за размещённые анкеты - вся информация на сайте
                        предоставлена
                        посетителями.</p>
                </div>
                <div class="footer__social">
                    <a href="#" class="footer__social-link">
                        <i class="icon-social icon-social-fb"></i>
                    </a>
                    <a href="#" class="footer__social-link">
                        <i class="icon-social icon-social-vk"></i>
                    </a>
                    <a href="#" class="footer__social-link">
                        <i class="icon-social icon-social-insta"></i>
                    </a>
                    <a href="#" class="footer__social-link">
                        <i class="icon-social icon-social-tw"></i>
                    </a>
                    <a href="#" class="footer__social-link">
                        <i class="icon-social icon-social-gplus"></i>
                    </a>
                    <a href="#" class="footer__social-link">
                        <i class="icon-social icon-social-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>